body {
  margin: 0px;
  padding: 0px;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0px;
  padding: 0px;
}

ul, li {
  list-style-type: none;
}

/* top navbar */

#logo {
  width: 140px;
  height: 40px;
}

.navbar {
	margin-bottom: 0 !important;
}

.navbar-default {
  background-color: #000;
  border-color: #000;
}

.nav-container-fluid {
	background: #000;
}

.navbar-default .navbar-nav>li>a {
  color: #ddd !important;
}

.navbar-default .nav>li>a:focus,
.nav>li>a:hover,
.nav>li>a:active {
  background-color: #4a4b4c !important;
  color: #fff !important;
  text-decoration: none !important;
  transition: all 1s ease 0s;
}

.navbar-default .navbar-nav>.active>a {
  background-color: #4a4b4c !important;
  color: #fff !important;
  text-decoration: none !important;
}

a:focus,
a:active {
  outline: none !important;
  outline-offset: 0 !important;
}

.navbar-brand {
  padding: 5px 0 0 5px;
}

.navbar-toggle {
  background-color: #000000 !important;
  border: 0 !important;
  padding: 10px 10px !important;
}

.navbar-default .navbar-toggle {
  border: none !important;
}

.navbar-right {
  float: right!important;
  margin-right: 0px !important;
}

.open>.dropdown-menu {
  display: block;
  background: #000;
}

.dropdown-menu>li>a {
  color: #ddd !important;
  background-color: transparent;
}

.dropdown-menu>.active>a {
  color: #ddd !important;
  background-color: #4a4b4c !important;
}

.dropdown-menu>li>a:focus, 
.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:active {
  background-color: #4a4b4c !important;
  transition: all 1s ease 0s;
}

.navbar-default .navbar-nav>.open>a, 
.navbar-default .navbar-nav>.open>a:focus, 
.navbar-default .navbar-nav>.open>a:hover {
    color: #ddd !important;
    background-color: #4a4b4c !important;
}

.navbar-left>li {
  margin-left: 30px;
}

.dropdown-menu-left li {
  padding: 5px;
}

/* sidebar */

#sidebar, #sidebar_menu {
  padding: 0px;
}

#wrapper {
  padding-left: 70px;
  transition: all .4s ease 0s;
  height: 100%
}

#sidebar-wrapper {
  margin-left: -200px;
  top: 51px;
  left: 70px;
  width: 200px;
  background: #000;
  position: fixed;
  height: 100%;
  z-index: 10000;
  transition: all .4s ease 0s;
}

@media (max-width: 768px) {
  #wrapper.active #sidebar-wrapper {
    left: 70px !important;
    transition: all .4s ease 0s;
    }
  #wrapper.active {
    padding-left: 70px !important;
  }
  .page-content-wrapper{
    padding-left: 20px;
  }

 #sidebar-wrapper:hover {
    margin-left: -70px !important;
  }
}

.sidebar-nav {
  display: block;
  float: left;
  width: 200px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.page-content-wrapper {
  padding-top: 30px !important;
  margin-top: 50px !important;
  width: 100% !important;
  height: auto !important;
}

#sidebar_menu li a, .sidebar-nav li a {
  color: #dddddd;
  display: block;
  float: left;
  text-decoration: none;
  width: 200px;
  -webkit-transition: background 1s;
  -moz-transition: background 1s;
  -o-transition: background 1s;
  -ms-transition: background 1s;
  transition: background 1s;
}

.sidebar-nav li {
  line-height: 40px;
  text-indent: 20px;
}

.sidebar-nav li a {
  color: #dddddd;
  display: block;
  text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:hover,
.sidebar-nav li a:focus {
  background-color: #4a4b4c !important;
  color: #fff !important;
  cursor: pointer;
  text-decoration: none !important;
  transition: all 1s ease 0s;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  line-height: 60px;
  font-size: 18px;
}

.sidebar-nav > .sidebar-brand a {
  color: #dddddd;
}

.sidebar-nav > .sidebar-brand a:hover {
  background: none !important;
}

#main_icon {
  float: right;
  margin-right: 20px;
  padding-top: 20px;
}

.sub_icon {
	float: right;
  margin-right: 20px;
  padding-top: 10px;
}

.content-header {
  height: 65px;
  line-height: 65px;
}

.content-header h1 {
  margin: 0;
  margin-left: 20px;
  line-height: 65px;
  display: inline-block;
}

#wrapper.active {
  padding-left: 200px;
}

#wrapper.active #sidebar-wrapper {
  left: 200px;
  width: 200px;
  transition: all .4s ease 0s;
}

.navbar-collapse {
  border-top: none;
}

#left-submenus {
  position: relative;
  min-width: 200px;
  padding: 0px 0;
  text-align: left;
  border: 1px solid #000;
  border-radius: 0px;
  box-shadow: none;
  margin-left: -5px;
}

/* not authenticated - index */

.flex-center {
  background-color: #000;
  align-items: center;
  display: flex;
  justify-content: center;
}

.full-height {
  height: 100vh;
}

.position-ref {
  position: relative;
}

.top-right {
  position: absolute;
  right: 10px;
  top: 18px;
}

.content {
  text-align: center;
}

.title {
  font-size: 4vw;
  color:#ddd !important;
}

/* content */

#l-r-heading {
  background-color: #000;
  color: #ddd;
}

#logo_page {
  max-width: 20%;
}

.title-heading {
  padding: 30px 20px;
}

.panel {
  border-radius: 0px;
  border: none;
  box-shadow: 0px 1px 10px 0px #969595;
}

.panel-heading {
  border: none;
  border-radius: 0px;
}

#profile_form {
  padding-top: 20px;
}

.panel-title {
  font-weight: 700;
  font-size: 20px;
  color: #A94442;
}

.nav-tabs>li>a {
  color: #A94442;
}

.td_buttons {
  vertical-align: middle !important;
  text-align: center;
  width: 100px !important;
}