body, html {
  color: #000 !important;
  font-family: "Montserrat", "Open Sans", "Helvetica Neue", Helvetica, sans-serif !important;
  font-size: 12px !important;
  margin: 0px;
}

a:hover, a:focus {
  text-decoration: none !important;
}

/* top-navbar */

.navbar {
    margin-bottom: 0 !important;
    border: none !important;
    z-index: 1100;
    background: transparent !important;
    box-shadow: 0 3px 10px #ddd;
    border-radius: 0px !important;
}

.nav-container-fluid {
    background: transparent;
}

.navbar-default .navbar-nav>li>a {
  color: #7a7b7c !important;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1em;
}

.navbar-default .nav>li>a:focus, 
.nav>li>a:hover {
  background-color: transparent !important;
  color: #111 !important;
  text-decoration: none !important;
  transition: all 1s ease 0s;
  box-shadow: 0 3px 10px #ddd;
}

a:focus {
  outline: none !important;
  outline-offset: 0 !important;
}

.navbar-toggle {
  background-color: transparent !important;
  box-shadow: 0 3px 10px #bbb;
  border: 0 !important;
  padding: 10px 10px !important;
}

.navbar-toggle:hover,
.navbar-toggle:focus {
  opacity: 0.5;
}

@media (min-width: 768px) {
.navbar-nav {
    float: right !important;
    margin: 0;
    }
}

.navbar-collapse {
  border-top: none !important;
}

@media (max-width: 768px) {
.navbar-collapse {
    background-color: #eee;
    }
.navbar-header {
    background-color: #eee;
  }
}

.navbar-brand {
    float: left !important;
    width: 150px;
    padding: 10px !important;
}

#logo {
    max-width: 80%;
}

/* content */

.bg-overlay {
    background: url(../img/fog.jpg);
    position: relative;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-attachment: fixed;
    margin-top: -70px;
}

.overlay-content {
  padding-top: 150px;
  padding-left: 10%;
  width: 100%;
  height: 100%;
}

.h-large {
  color: #383c46 !important;
  font-size: 6em !important;
  font-weight: 900 !important;
  line-height: 1.2;
  letter-spacing: 2.5px;
  margin-top: 0px !important;
  text-transform: uppercase;
}

@media (max-width: 600px) {
  .h-large {
    font-size: 3.5em !important;
  }
  .h-subheading {
    font-size: 1.8em !important;
  }
}

.h-subheading {
  color: #383c46;
  margin-top: 100px;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.btn-overlay {
  color: #ececec;
  background: #5d606f;
  display: inline-block;
  text-decoration: none;
  position: relative;
  padding: 8px 38px;
  margin-bottom: 30px !important;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-size: 0.9em;
  line-height: 1.8em;
  border-radius: 0 !important;
  -webkit-transition: all 1s;
}

.btn-overlay:hover {
  color: #fff !important;
  background: #000;
}

.scroll {
  text-align: center;
  padding: 30px 0 30px 0;
}

#scroll-icon {
  font-size: 30px;
  color: #111;
  margin-top: 10px;
}

#scroll-text {
  display: none;
  color: #111;
  position: relative;
  text-align: center;
  padding-bottom: 30px;
  font-size: 1em;
  font-weight: 700;
  letter-spacing: 2.5px;
  text-transform: uppercase;
}

.spacing-1 {
  padding-bottom: 50px;
}

.text-center {
  text-align: center;
}

.b-title {
  color: #111;
  text-transform: uppercase;
  text-shadow: 0px 1px 2px #111;
  letter-spacing: 2.5px;
}

.g-txt {
  color: #999;
  font-size: 14px;
  letter-spacing: 2.5px;
  line-height: 1.8em;
  margin-top: 25px;
}

.g-txt-par {
  color: #777;
  font-size: 14px;
  letter-spacing: 0.2px;
  line-height: 1.8em;
  margin-top: 25px;
}

#presentation {
  margin-top: 50px;
}

#presentation img {
  max-width: 100%;
}

#services {
  background-color: #f8f8f8;
  padding-top: 100px;
  padding-bottom: 100px;
}

/*animation element sliding from left*/

.animation-element.slide-left {
  opacity: 0;
  -moz-transition: all 1000ms linear;
  -webkit-transition: all 1000ms linear;
  -o-transition: all 1000ms linear;
  transition: all 1000ms linear;
  -moz-transform: translate3d(-100px, 0px, 0px);
  -webkit-transform: translate3d(-100px, 0px, 0px);
  -o-transform: translate(-100px, 0px);
  -ms-transform: translate(-100px, 0px);
  transform: translate3d(-100px, 0px, 0px);
}

.animation-element.slide-left.in-view {
  opacity: 1;
  -moz-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate3d(0px, 0px, 0px);
}

.animation-element.slide-right {
  opacity: 0;
  -moz-transition: all 1000ms linear;
  -webkit-transition: all 1000ms linear;
  -o-transition: all 1000ms linear;
  transition: all 1000ms linear;
  -moz-transform: translate3d(100px, 0px, 0px);
  -webkit-transform: translate3d(100px, 0px, 0px);
  -o-transform: translate(100px, 0px);
  -ms-transform: translate(100px, 0px);
  transform: translate3d(100px, 0px, 0px);
}

.animation-element.slide-right.in-view {
  opacity: 1;
  -moz-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate3d(0px, 0px, 0px);
}

.animation-element.slide-top {
  opacity: 0;
  -moz-transition: all 1000ms linear;
  -webkit-transition: all 1000ms linear;
  -o-transition: all 1000ms linear;
  transition: all 1000ms linear;
  -moz-transform: translate3d(0px, -100px, 0px);
  -webkit-transform: translate3d(0px, -100px, 0px);
  -o-transform: translate(0px, -100px);
  -ms-transform: translate(0px, -100px);
  transform: translate3d(0px, -100px, 0px);
}

.animation-element.slide-top.in-view {
  opacity: 1;
  -moz-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate3d(0px, 0px, 0px);
}

.animation-element.slide-bottom {
  opacity: 0;
  -moz-transition: all 1000ms linear;
  -webkit-transition: all 1000ms linear;
  -o-transition: all 1000ms linear;
  transition: all 1000ms linear;
  -moz-transform: translate3d(0px, 100px, 0px);
  -webkit-transform: translate3d(0px, 100px, 0px);
  -o-transform: translate(0px, 100px);
  -ms-transform: translate(0px, 100px);
  transform: translate3d(0px, 100px, 0px);
}

.animation-element.slide-bottom.in-view {
  opacity: 1;
  -moz-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate3d(0px, 0px, 0px);
}

/*media queries for small devices*/
@media screen and (max-width: 600px){
  .animation-element.slide-left.introduction {
    width: 100%;
    margin: 0px 0px 0px 0px;
    padding-left: 40px;
  }
  .animation-element.slide-right.introduction {
    width: 100%;
    margin: 0px 0px 0px 20px;
  }
  .animation-element.slide-top.introduction {
    width: 100%;
    margin: 0px 0px 0px 20px;
  }
  .animation-element.slide-bottom.introduction {
    width: 100%;
    margin: 0px 0px 0px 20px;
  }
}