* {
	overflow: auto;
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	position: relative;
}

#wrapper {
	max-width: 1000px;
	margin: 0 auto;
	padding: 0;
}

.header_content {
	max-height: 100%;
	max-width: 100%;
}

#logo, #info1, #info2, #info3, #info4, #info5{
	display:block;
	float: left;
	width: 33.2%;
	height: 200px;
	text-align: center;
	font-size: 1.2rem;
	font-size: 1.1vw;
	border: solid 1px #ddd;
	border-collapse: collapse;
	padding-top: 100px;
	overflow: hidden;
}

#logo {
	background-image: url(icons/logo.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 50%;
}

#info1 {
	background-image: url(icons/paint.png);
	background-position: top;
	background-repeat: no-repeat;
	background-size: 25%;
	background-position-y: 10px;
}

#info2 {
	background-image: url(icons/smartphone.png);
	background-position: top;
	background-repeat: no-repeat;
	background-size: 25%;
	background-position-y: 10px;
}

#info3 {
	background-image: url(icons/insight.png);
	background-position: top;
	background-repeat: no-repeat;
	background-size: 25%;
	background-position-y: 10px;
}

#info4 {
	background-image: url(icons/laptop.png);
	background-position: top;
	background-repeat: no-repeat;
	background-size: 25%;
	background-position-y: 10px;
}

#info5 {
	background-image: url(icons/heart.png);
	background-position: top;
	background-repeat: no-repeat;
	background-size: 25%;
	background-position-y: 10px;
}

#logo, #info1, #info2 {
	border-top:none;
	border-left:none;
	border-bottom:none;
}

#info2 {
	border-right:none;
}

#info3, #info4, #info5 {
	border-bottom:none;
	border-left:none;
}

#info5 {
	border-right:none;
}

.title {
	text-transform: uppercase;
	font-weight: bold;
}

.content {
	padding: 0 45px 0 45px;
}

#nav {
	min-width: 100%;
	background-image: url(img/overlay-top.png);
	background-repeat: no-repeat;
	color: white;
	margin-top: 30px;
	text-align: center;
}

#nav p {
	margin: 0 !important;
	font-size: 1vw;
}

.team {
	width: 100%;
	margin: 0 auto;
	margin-top: 20px;
}

#nav #last {
	margin-right: 0;
}

#join {
	font-size: 1rem;
	margin-top: 20px;
}

.projects {
	margin: 20px 0 40px 0;
	color: #01368c;
	padding-top: 50px;
	font-size: 14px;
	height: 180px;
	max-width: 100%;
	background-image: url(img/projects.jpg);
	background-position: bottom;
	background-repeat: no-repeat;
	text-align: center;
}

#works {
	display: inline-block; 
	color: #413d4b;
	float: left;
	font-size: 1.75rem;
	font-weight: bold;
	text-align: right;
	margin-top: 3%;
}

article {
	background-image: url(img/overlay-middle.png);
	background-repeat: no-repeat;
	color: white;
	text-align: center;
	padding: 60px;
}

article p {
 	font-size: 1.25rem;
 }

.scroll_menu {
 	margin-top: 40px;
 }

input {
 	padding: 0 0 0 10px;
 }

textarea {
 	padding: 10px 0 0 10px;
 }

#submit {
	margin: 0 0 20px 0;
	padding: 10px 15px;
	background-color: transparent;
    border: solid 1px #00e0d0;
    border-radius: 3px;
    color: #00e0d0;
	text-decoration: none;
	font-weight: bold;
}

.aside {
	overflow: hidden;
}

.aside img {
	max-width: 100%;
}

.footer {
	font-size: 12px;
	max-width: 100%;
	min-height: 100%;
	color: white;
	background-image: url(img/overlay-bottom.png);
	background-repeat: no-repeat;
}

#left_footer, #center_footer, #right_footer {
	margin-top: 30px;
	overflow: hidden;
}

#footer_nav {
	margin: 50px 0 50px 0;
}

.f_menu {
	overflow: hidden !important;
}

#left_footer img {
	max-width: 90%;
}

#right_footer p {
	overflow: hidden;
}

a {
	color: #337ab7;
	text-decoration: none !important;
	overflow: hidden !important;
}

a:hover {
	color: #00e0d0 !important;
}

p {
	overflow: hidden !important;
}

.social_media {
	margin-top: 50px;
	max-width: 100%;
}

.large_text {
	font-size: 2rem !important;
}

.our_team {
	max-width: 50% !important;
	margin-bottom: 10px;
}

#contact {
	margin: 30px 0 20px 0;
	overflow: hidden;
}

.glyphicon {
	color: #337ab7 !important;
	overflow: hidden !important;
}

.carousel {
	width: 50%;
	margin: auto;
}

.carousel-inner > .item > img {
	margin: auto;
}

.carousel_1 {
	top: 30px;
}

#btn_hiring {
	margin: 20px 0 20px 0;
}

.carousel-control {
	overflow: hidden !important;
}

.btn-primary.gradient {
	border:none;
	background: -moz-linear-gradient(top,  #33a6cc 50%, #0099cc 50%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#33a6cc), color-stop(50%,#0099cc)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #33a6cc 50%,#0099cc 50%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #33a6cc 50%,#0099cc 50%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #33a6cc 50%,#0099cc 50%); /* IE10+ */
	background: linear-gradient(to bottom,  #33a6cc 50%,#0099cc 50%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33a6cc', endColorstr='#0099cc',GradientType=0 ); /* IE6-9 */
}

.btn-primary.gradient:hover, .btn-primary.gradient:focus, .btn-primary.gradient:active, .btn-primary.gradient.active, .open > .dropdown-toggle.btn-primary {
	border:none;
	background: -moz-linear-gradient(top,  #66b2cc 50%, #33a6cc 50%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#66b2cc), color-stop(50%,#33a6cc)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #66b2cc 50%,#33a6cc 50%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #66b2cc 50%,#33a6cc 50%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #66b2cc 50%,#33a6cc 50%); /* IE10+ */
	background: linear-gradient(to bottom,  #66b2cc 50%,#33a6cc 50%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66b2cc', endColorstr='#33a6cc',GradientType=0 ); /* IE6-9 */
}

.btn-primary.gradient:active, .btn-primary.gradient.active {
	border:none;
	background: -moz-linear-gradient(top,  #267c99 50%, #007299 50%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#267c99), color-stop(50%,#007299)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #267c99 50%,#007299 50%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #267c99 50%,#007299 50%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #267c99 50%,#007299 50%); /* IE10+ */
	background: linear-gradient(to bottom,  #267c99 50%,#007299 50%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#267c99', endColorstr='#007299',GradientType=0 ); /* IE6-9 */
}
