body, html {
	height:auto !important:;
}

body {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
	margin:0 !important;

}

/* top-navbar */

.navbar {
    margin-bottom: 0 !important;
    border: none !important;
    z-index: 1100;
    background: transparent !important;
    box-shadow: 0 5px 15px #00173d;
    border-radius: 0px !important;
}

.nav-container-fluid {
    background: transparent;
}

.navbar-default .navbar-nav>li>a {
  color: #ddd !important;
  text-align: center;
}

.navbar-default .nav>li>a:focus, 
.nav>li>a:hover {
  background-color: transparent !important;
  color: #ddd !important;
  text-decoration: none !important;
  transition: all 1s ease 0s;
  box-shadow: 0 5px 15px #00173d;
}

a:focus {
  outline: none !important;
  outline-offset: 0 !important;
}

.navbar-toggle {
  background-color: transparent !important;
  border: 0 !important;
  padding: 10px 10px !important;
}

.navbar-default .navbar-toggle {
  border: none !important;
}

@media (min-width: 768px) {
.navbar-nav {
    float: right !important;
    margin: 0;
    }
}

.navbar-collapse {
  border-top: none !important;
}

.open>.dropdown-menu {
  display: block;
  background: transparent;
  border-radius: 0;
  border: none !important;
  box-shadow: 0 5px 15px #00173d;
}

.dropdown-menu>li>a {
  color: #ddd !important;
}

.dropdown-menu>li>a:focus, 
.dropdown-menu>li>a:hover {
  background-color: transparent !important;
  transition: all 1s ease 0s;
  box-shadow: 0 0.5px 15px #00173d;
}

.navbar-default .navbar-nav>.open>a, 
.navbar-default .navbar-nav>.open>a:focus, 
.navbar-default .navbar-nav>.open>a:hover {
    color: #ddd !important;
    background-color: transparent !important;
    box-shadow: 0 5px 15px #00173d;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff !important;
    box-shadow: 0 5px 15px #00173d;
}

.navbar-brand {
    float: left !important;
    padding: 5px 10px !important;
}

#logo {
    max-width: 80%;
}

/* content */

.m-l-5 {
    margin-left: 5px;
}

.m-r-15 {
    margin-right: 15px;
}

.m-t-25 {
    margin-top: 25px;
}



.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    line-height: 1.42857143;
    user-select: none;
}





.m-l-5 {
    margin-left: 5px;
}

img {
    vertical-align: middle;
}

ul, menu, dir {
    display: block;
    list-style-type: none !important;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}

a {
    text-decoration: none;
    background-color: transparent;
    cursor: auto;

}

body .home .parallax {
    background: url(img/bluesky.jpg) no-repeat #02061b;
    background-size: 100%;
    width: 100%;
    position: absolute;
    min-height: 1500px;
    z-index: -1;
    margin-top: -100px;
}

@media (max-width: 768px) {
    .banner {
    background: url(img/bluesky.jpg) no-repeat #02061b;
    height: 250px;
    margin-top: 0px;
}
}

.banner {
    background: url(img/bluesky.jpg) no-repeat #02061b;
	min-height: 168px;
	height: 250px;
    margin-top: -50px;
}

body .home .banner {
    text-align: center;
    position: relative;
    -webkit-box-shadow: 0 10px 0 0 #e6e6e6;
}

body .home .banner h1 {
    text-align: center;
    color: #fff;
    font-size: 36px;
    padding: 100px 15px 10px;
    margin: 0;
    font-weight: 700;
    text-shadow: 0 0 30px #fff;
}

body .home .banner h2 {
    font-size: 26px;
    margin: 0;
    display: inline-block;
}

body .home .banner .slider_holder, body .home .banner h2 {
    text-align: center;
    font-family: 'Open Sans';
    font-weight: 300;
    color: #fff;
    line-height: 1.1;
}

body .home .banner .slider_holder {
    background-color: rgba(2,6,27,.7);
    width: 100%;
    position: absolute;
    padding-bottom: 50px;
    bottom: 0;
    box-shadow: 0 -100px 80px 0 #02061b inset;
    -webkit-box-shadow: 0 -100px 80px 0 #02061b inset;
}

body .home .banner .slider_holder {
    position: relative;
    height: 30px;
    width: 180px;
    top: -30px;
    -webkit-transform: skew(0);
    transform: skew(0);
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 30px solid rgba(2,6,27,.7);
    margin: auto;
}

body .home .banner .slider_holder {
    margin: 0;
    padding: 0;
    line-height: 30px;
    font-size: 24px;
}

body .home .banner .slider_holder p, body .home .banner h2 {
    text-align: center;
    font-family: 'Open Sans';
    font-weight: 300;
    color: #fff;
}

body .home .banner .slider_holder .slider {
    color: #fff;
    width: 100%;
    max-width: 1170px;
    padding: 0 65px;
    margin: auto;
}

body .home .content .section_bg {
    background-color: #fff;
}

body .home .content .section_bg:nth-child(even) {
    background-color: #f6f6f6;
}

body .home .content .section_bg .section {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    padding: 50px 15px;
}

body .home .content .section_bg .section h4 {
    text-align: center;
    color: #5e5e5e;
    font-family: 'Open Sans';
    font-size: 28px;
    font-weight: 300;
}

body .home .content .section_bg .section p {
    text-align: center;
    font-size: 14px;
    color: #5e5e5e;
    font-family: 'Open Sans';
    font-weight: 400;
}

p {
    margin: 0 0 10px;
}

.section-1-ul li {
    text-align: center !important;
    padding-left: 0 !important;
}


.col-xs-12 {
    width: 100%;
    padding: 0 !important;
}


.col-lg-8 {
    width: 33.33333333% !important;
}

.btn-group-vertical>.btn-group:after, .btn-toolbar:after, .clear, .clearfix:after, .container-fluid:after, .container:after, .dl-horizontal dd:after, .form-horizontal .form-group:after, .modal-footer:after, .nav:after, .navbar-collapse:after, .navbar-header:after, .navbar:after, .pager:after, .panel-body:after, .row:after {
    clear: both;
}

.text-center {
    text-align: center;
}

body .home .content .section_bg .section .boxes .info-box {
    position: relative;
    text-align: center;
    margin-bottom: 30px;
}

.p-t-45 {
    padding-top: 45px;
}

body .home .content .section_bg .one_platform_bg {
    background: url(img/bluesky.jpg) center no-repeat fixed;
    background-size: 100%;
}

footer .top, footer .top h1 {
    text-align: center;
}

body .home .content .section_bg .section .boxes .info-box .btn {
    position: absolute;
    bottom: -21px;
    margin: auto;
    font-family: 'Open Sans';
    font-size: 14px;
    max-width: 200px;
    left: 0;
    right: 0;
}

body .home .content .section_bg .section ul {
    margin: 0;
    padding: 0;
}

body .home .content .section_bg .section ul li {
    list-style-type: none !important;
    padding: 0 15px 0 30px;
    line-height: 30px;
    font-size: 14px;
    font-family: 'Open Sans';
    color: #5e5e5e;
    font-weight: 400;
}

body .home .content .section_bg .section .view_demo img {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    width: 100%;
    margin: auto;
    display: block;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

img {
    vertical-align: middle;
    border: 0;
}

body .home .content .section_bg .section .view_demo {
    width: 50%;
    display: block;
    margin: auto;
    margin-top: 30px;
}

body .home .content .section_bg .section .boxes .info-box .btn {
    position: absolute;
    bottom: -21px;
    margin: auto;
    font-family: 'Open Sans';
    font-size: 14px;
    max-width: 200px;
    left: 0;
    right: 0;
}

body .home .content .section_bg .section .boxes .info-box p {
    font-family: 'Open Sans';
    color: #5e5e5e;
    font-size: 14px;
    margin-bottom: 30px !important;
    font-weight: 400;
}

body .home .content .section_bg .section .boxes .info-box h4 {
    text-align: center;
    color: #5e5e5e;
    font-family: 'Open Sans';
    font-size: 24px;
    line-height: 30px;
    font-weight: 300;
    margin: 15px 0;
}

body .home .content .section_bg .section .boxes .info-box p {
    font-family: 'Open Sans';
    color: #5e5e5e;
    font-size: 14px;
    margin-bottom: 15px;
    font-weight: 400;
}

.glyphicon-ok-circle {
	margin: 10px;
	color: green;
}

body .home .content .section_bg .one_platform_bg .top_band {
    background-color: #0060a0;
    text-align: center;
}

body .home .content .section_bg .one_platform_bg .top_band h5 {
    font-family: 'Open Sans';
    font-size: 30px;
    line-height: 30px;
    color: #fff;
    font-weight: 300;
    display: inline-block;
    margin: 0;
    padding: 25px 15px;
    max-width: 1170px;
}

body .home .content .section_bg .one_platform_bg .one_platform {
    width: 100%;
    max-width: 1170px;
    margin: auto;
    text-align: center;
}

body .home .content .section_bg .one_platform_bg .one_platform h6 {
    font-family: 'Open Sans';
    font-size: 24px;
    line-height: 30px;
    color: #002bdb;
    font-weight: 300;
    margin: 0;
    padding: 50px 15px;
    text-shadow: 1px 0px 1px #fff !important;
}

body .home .content .section_bg .one_platform_bg .one_platform ul {
    margin: 0;
    padding: 0;
}

body .home .content .section_bg .one_platform_bg .one_platform ul li {
    list-style-type: none;
    padding: 0 15px 0 30px !important;
    line-height: 30px;
    font-size: 14px;
    font-family: 'Open Sans';
    color: #002bdb;
    font-weight: 600;
    text-align: center;
    text-shadow: 1px 0px 1px #fff;
}

.m-b-50 {
    margin-bottom: 50px !important;
}

.m-t-50 {
    margin-top: 50px !important;
}

.btn-group-lg>.btn, .btn-lg {
    padding: 10px 16px;
    line-height: 1.3333333;
}

.blue {
	color: blue;
}

.carousel {
    width: 70%;
    margin: auto;
}

@media (max-width: 768px) {
    .carousel {
    min-width: 90%;
    }
}

.carousel_1 {
    margin: 30px 0 30px 0;
}

footer .top {
    background: url(img/pinksky.jpg) bottom no-repeat fixed #02061b;
    background-size: 100%;
    padding-top: 70px;
}

.text-larger {
    font-size: 30px;
}

.color-white {
    color: #fff;
}

b, optgroup, strong {
    font-weight: 700;
}

.m-b-10 {
    margin-bottom: 10px;
}

.col-lg-offset-0 {
    margin-left: 0;
}

footer .top .btn-info {
    min-width: 280px;
    line-height: 36px;
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 70px;
    margin-top: 15px;
}

.bottom_section {
    background-color: #010415 !important;
    background-size: 1600px!important;
}

.footer .bottom_section .section {
    margin: auto;
    max-width: 1170px;
    width: 100%;
    padding: 30px 0;
}

.footer .bottom_section .section p {
    color: #5c6181;
    font-size: 13px;
    font-weight: 400;
    font-family: 'Open Sans';
    margin: 10px 0 0;
    width: 100%;
}

.footer .bottom_section .section ul {
    margin: 10px 0 0;
    padding: 0;
}

.footer .bottom_section .section ul li {
    list-style-type: none;
    float: left;
    display: inline-block;
    width: 60%;
    padding: 0 0 8px 5px;
}

.footer .bottom_section .section ul li a {
    color: #5c6181;
    font-size: 13px;
    font-weight: 400;
    text-decoration: none;
}

.footer .bottom_section .section ul li.signup {
    text-align: left;
}

.bottom_bg {
    background-color: #020621;
}

.footer .bottom_bg .bottom {
    margin: auto;
    max-width: 1170px;
    width: 100%;
    padding: 20px 15px;
}

.footer .bottom_section .section img {
    float: left;
    margin: -20px 15px 0 0;
}

.footer .bottom_bg .bottom p {
    color: #bbbfd9;
    font-size: 12px;
    line-height: 28px;
    margin: 0;
    float: left;
    display: inline-block;
}

.bottom_sc li {
    display: inline-block;
    padding: 10px 50px;
    text-align: center;
}

.footer .bottom_bg .bottom .social {
    float: right;
    display: inline-block;
    margin-right: 185px;
}

.footer .bottom_bg .bottom .social a {
    color: #fff;
    font-size: 20px;
    margin: 0 15px 0 0;
}